{% extends 'UserData/layout.html' %}
{% block body %}
<body class="body">
    <div class="outer">
    <h2 class="heading">Login</h2>
    <div class="inner">
        
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h3>User Name: </h3>
            <input type="text" placeholder="User Name" name="username">
            <h3>Password: </h3>
            <input type="password" placeholder="Password" name="password">
            <h3>Login: </h3>
            <input type="submit" name="submit" class="submit">
            <hr>
            <a href="{% url 'signup' %}" class="a">Don't have an account</a>
            {% if message %}
            <p>{{message}}</p>
            {% endif %}
        </form>

        
    </div>
    </div>
    
</body>
{% endblock %}